<div class="wrapper">
    <div class="dashboard_body" id="dashboard_body">
        <header class="dash_header">
            <div class="logo-container">
                <a href="/" class="head_logo">
                    <img alt="logo" src="/images/logo.png">
                </a>
                <div class="toggle-sidebar-left">
                    <a href="javascript:;"><i class="fa fa-bars" aria-label="Toggle sidebar"></i></a>
                </div>
            </div>
            <div class="sidebar-header">
                <a class="sidebar-toggle" href="javascript:;">
                    <i class="fa fa-bars" aria-label="Toggle sidebar"></i>
                </a>
            </div>
            <div class="header-right">
                <div class="search">
                    <div class="input-group">
                        <!-- <input type="text" class="form-control" placeholder="Search...">
                        <span class="input-group-append">
                            <button class="btn btn-default" type="submit">
                                <i class="fas fa-search"></i>
                            </button> -->
                        </span>
                    </div>
                </div>
                <div class="outer_notify">
                    <ul class="notifications">
                        <li>Admin
                            <!-- <a href="javascript:;" class="notification-icon">
                                <i class="fas fa-bell"></i>
                                <span class="badge">3</span>
                            </a> -->
                        </li>
                    </ul>
                    <div class="userbox">
                        <a href="/logout">
                            <i class="fas fa-sign-out-alt"></i>
                          </a>
                    </div>
                </div>
            </div>
        </header>