<!--
This is your default homepage.
For more information, see:
• https://sailsjs.com/documentation/concepts/views
• https://sailsjs.com/documentation/concepts/routes
-->
<link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet">

<script type="text/javascript">
setTimeout(function sunrise () {
  document.getElementsByClassName('header')[0].style.backgroundColor = '#118798';
}, 0);
</script>

<main class="main_container privacy_page">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>PRIVACY POLICY</h2>
                <p><small>Last updated: July 15, 2020 </small></p>
                <p>The City of Milton, Georgia (“we” or “us” or “our”) respects the privacy of our users (“user” or “you”). This Privacy Policy explains how we collect, use, disclose, and safeguard your information when you use our Waddle mobile application (the “App”). Please read this Privacy Policy carefully. IF YOU DO NOT AGREE WITH THE TERMS OF THIS PRIVACY POLICY, PLEASE DO NOT ACCESS THE APP. </p>
                <p>We reserve the right to make changes to this Privacy Policy at any time and for any reason. We will alert you about any changes by updating the “Last updated” date of this Privacy Policy. You are encouraged to periodically review this Privacy Policy to stay informed of updates. You will be deemed to have been made aware of, will be subject to, and will be deemed to have accepted the changes in any revised Privacy Policy by your continued use of the App after the date such revised Privacy Policy is posted.</p>
                <p>This Privacy Policy does not apply to the third-party online/mobile store from which you install the App, which may also collect and use data about you. We are not responsible for any of the data collected by any such third party.</p>
                <h3>COLLECTION OF YOUR INFORMATION</h3>
                <p>We may collect information about you in a variety of ways. The information we may collect via the App includes: </p>
                <h4>Personal Data </h4>
                <p>We collect and store all personal information related to your App profile, which you voluntarily give us either upon sign-up or through continued use of the App, including:</p>
                <ul>
                    <li class="mb-3">
                        <p>User (parent/guardian) Information</p>
                        <ul>
                            <li>First and last name </li>
                            <li>Email address</li>
                            <li>Phone number</li>
                            <li>Home address</li>
                            <li>Parent’s picture</li>
                            <li>Registration and login information, including password to use the App</li>
                            <li>Groups, schedules, and trip histories</li>
                            <li>Messages sent between App users</li>
                            
                        </ul>
                    </li>
                    <li>
                        <p>Student Information</p>
                        <ul>
                            <li>Student’s name and affiliation with parent/guardian</li>
                            <li>Student’s email</li>
                            <li>Student’s grade level and school</li>
                            <li>Student’s “pick up stop”</li>
                            <li>Groups, schedules, and trip histories</li>
                        </ul>
                    </li>
                </ul>
                <h4>Geo-Location Information </h4>
                <p>If you are designated the trip supervisor, we use location-based information from your mobile device while you are using the App to provide location-based services, both as a “live” location while a trip is in progress and as a trip history record. If a student is associated with a trip, the student’s location will be associated with that of the supervisor for the trip.</p>
                <h4>Derivative Data </h4>
                <p>Our servers automatically collect any actions you take on your phone or data you enter on your phone when you are using the App, such as your typed input or other interactions with the App.  We keep track of such data to help improve the App.</p>
                <h4>Mobile Device Access </h4>
                <p>We may request access to certain features from your mobile device, including your mobile device’s reminders, and other features. If you wish to change our access or permissions, you may do so in your device’s settings. </p>
                <h4>Mobile Device Data </h4>
                <p>We record device information such as your mobile device ID number, model, and manufacturer, and version of your operating system, phone number, country, location, and any other data you choose to provide. </p>
                <h4>Push Notifications </h4>
                <p>We may occasionally send you push notifications or reminders relating to your account or the App. </p>
                <h3>USE OF YOUR INFORMATION</h3>
                <p>Having accurate information about you permits us to provide you with a smooth, efficient, and customized experience. Specifically, we may use information collected about you via the App to: </p>
                <ul>
                    <li>Monitor and analyze usage and trends to improve your experience with the App. </li>
                    <li>Notify you of updates to the App. </li>
                    <li>Request feedback and contact you about your use of the App. </li>
                </ul>
                <h3>DISCLOSURE OF YOUR INFORMATION</h3>
                <p>One major purpose of the App is to allow parents/guardians to keep track of their children during a trip and to view trip routes.  We will release trip location data and participant/parent information to other users for that purpose.  We may also provide trip data to the Georgia Institute of Technology (Georgia Tech) and other reputable institutional partners for the limited purposes of researching and improving technology applications to encourage walk-to-school initiatives and similar purposes.</p>
                <p>Please be advised that the City of Milton is subject to Georgia’s Open Records Act (O.C.G.A. 50-18-70 et seq.), and some information collected by the App is considered a public record and could be subject to disclosure to third parties upon request. </p>
                <p>Except as discussed above, we will not distribute your personal information to unrelated third parties unless we have your permission, are required to by law, or if we reasonably believe that disclosure could prevent death, serious physical injury, or serious property damage. However, we may send your personal information to our third-party vendors for the limited purposes of enabling the App to function, such as remote server hosts, who are required to preserve the confidentiality of this information. </p>
                <h3>YOUR CONSENT</h3>
                <p>By using the App, you consent to our privacy policy. </p>
            </div>
        </div>
    </div>
</main>
