<!--
This is your default homepage.
For more information, see:
• https://sailsjs.com/documentation/concepts/views
• https://sailsjs.com/documentation/concepts/routes
-->
<link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet">
<link href="/styles/master/custom.css" type="text/css" rel="stylesheet">
<link href="/styles/fontawesome/all.css" type="text/css" rel="stylesheet">

<script type="text/javascript">
    var base_url = window.location.origin;
</script>

<% var message = "" , error = false %>

<body>
    <div class="change_password_page">
        <div class="change_password">
            <div class="change_password_inner">
                <div class="waddle_logo" style="max-width: 280px;
                margin: auto;">
                    <a href="#"><img src="/images/black_logo.png"></a>
                </div>
                <h3>Reset Password</h3>
                <% if(state == true) { %>
                <form id="form">
                    <div class="form-input">

                        <div class="input-icon"><i class="fa fa-lock" aria-hidden="true"></i><input id="password"
                                class="form-controls" type="Password" placeholder="Enter Password"></div>
                    </div>
                    <div class="form-input">

                        <div class="input-icon"> <i class="fa fa-lock" aria-hidden="true"></i><input
                                id="confirmpassword" class="form-controls" type="Password"
                                placeholder="Re-enter Password"></div>
                    </div>
                    <div class="form-input" id="error" style="display: none;">
                        <label id="errMessage" style="color: red;"></label>
                    </div>
                    <div class="action-btn">
                        <button class="changes_btn" style="display: inline;">
                            <i id="loader" class="fas fa-circle-notch fa-spin" style="display: none;">
                            </i>Submit</button>
                    </div>
                </form>

                <% } %>


                <% if(state == false) { %>
                     <div>
                        <span><i class="fa fa-exclamation-triangle" aria-hidden="true" style="font-size: 90px;
                            margin: 12px 0 12px 0;
                            display: block;
                            color: red;
                            line-height: 80px;"></i> </span>
                            <h6 style="font-size: 22px;
                        font-weight: normal;
                        margin: 0 0;
                        color: #0e910e;">The requested link has been expired. Please request another link</h6>
                     </div>
                <% } %>


                <!-- Successfully change start -->
                <div id="success" class="successfully_change" style="display: none;">
                    <span><i class="fa fa-check" aria-hidden="true" style="font-size: 90px;
                    margin: 12px 0 12px 0;
                    display: block;
                    color: #22ae22;
                    line-height: 80px;"></i> </span>
                    <h6 style="font-size: 22px;
                font-weight: normal;
                margin: 0 0;
                color: #0e910e;">Your password has been changed successfully.</h6>
                </div>
            </div>


        </div>
        <div class="copyright_line">
            <p>Copyright 2020 © AppZoro Technologies Inc.</p>
        </div>

    </div>


    <script>
        var form = document.getElementById("form");

        function checkandSubmit(e) {
            e.preventDefault();
            var password = document.getElementById('password');
            var confirmpassword = document.getElementById('confirmpassword');
            var errordiv = document.getElementById('error');
            var errMessage = document.getElementById('errMessage');
            var loader = document.getElementById('loader');
            var success = document.getElementById('success');
            var form = document.getElementById("form");


            if (password.value == "" || confirmpassword.value == "") {
                errordiv.style.display = "block";
                errMessage.innerText = "All fields required!"
            } else if (password.value.length < 5 || confirmpassword.value.length < 5) {
                errordiv.style.display = "block";
                errMessage.innerText = "Password should be greater than 4 characters!"
            } else if (password.value !== confirmpassword.value) {
                errordiv.style.display = "block";
                errMessage.innerText = "Passwords do not match!"
            } else {
                loader.style.display = "inline";
                var path = window.location.pathname;
                var parts = path.split('/');

                var data = JSON.stringify({
                    id: parts[2],
                    password: password.value
                });

                var xhr = new XMLHttpRequest();
                xhr.withCredentials = true;

                xhr.addEventListener("readystatechange", function () {
                    if (this.readyState === 4) {
                        console.log(this.responseText);
                        form.style.display = "none";
                        success.style.display = "block";
                    }
                });

                xhr.open("POST", base_url + "/api/changePassword");
                xhr.setRequestHeader("Content-Type", "application/json");
                xhr.setRequestHeader("cache-control", "no-cache");
                xhr.send(data);
            }


        }

        form.addEventListener('submit', checkandSubmit);
    </script>

</body>