<!--
This is your default homepage.
For more information, see:
• https://sailsjs.com/documentation/concepts/views
• https://sailsjs.com/documentation/concepts/routes
-->
<link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet">

<script type="text/javascript">
setTimeout(function sunrise () {
  document.getElementsByClassName('header')[0].style.backgroundColor = '#118798';
}, 0);
</script>

<main class="main_container terms_page">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>TERMS AND CONDITIONS OF USE</h2>
                <p>These terms and conditions ("Agreement") are an agreement between the City of Milton, Georgia ("the City of Milton, Georgia", "us", "we" or "our") and you ("you" or "your"). This Agreement sets forth the general terms and conditions of your use of the Waddle mobile application (collectively, "App").</p>
                <h3>ACCOUNTS AND MEMBERSHIP</h3>
                <p>You must be at least 18 years of age to use this App. By using this App and by agreeing to this Agreement you warrant and represent that you are at least 18 years of age. If you create an account in the App, you are responsible for maintaining the confidentiality of your password and you are responsible for all activities that occur under your account and any other actions taken in connection with it. We may, but have no obligation to, monitor and review new accounts before you may sign in and use our App. Providing false contact information of any kind may result in the termination of your account.  We will not be liable for any wrongful acts or omissions by you in using the App, including any damages of any kind incurred as a result of such acts or omissions. We may suspend, disable, or delete your account (or any part thereof) if we determine that you have violated any provision of this Agreement or that your conduct or content would tend to damage our reputation and goodwill.  </p>
                <h3>PROHIBITED USES</h3>
                <p>In addition to other terms as set forth in the Agreement, you are prohibited from using the App or its content: (a) for any unlawful purpose; (b) to solicit others to perform or participate in any unlawful acts; (c) to violate any international, federal, provincial or state regulations, rules, laws, or local ordinances; (d) to infringe upon or violate our intellectual property rights or the intellectual property rights of others; (e) to bully, harass, abuse, insult, harm, defame, slander, disparage or intimidate anyone, or to discriminate based on gender, sexual orientation, religion, ethnicity, race, age, national origin, or disability; (f) to submit false or misleading information; (g) to upload or transmit viruses or any other type of malicious code that will or may be used in any way that will affect the functionality or operation of the App or any device; (h) to collect or track the personal information of others except for the limited purpose for which the App was designed; (i) to spam, phish, pharm, pretext, spider, crawl, or scrape; (j) for any obscene or immoral purpose; or (k) to interfere with or circumvent the security features of the App, other mobile applications, or the Internet. We reserve the right to terminate your use of the App for violating any of the prohibited uses.</p>
                <h3>INTELLECTUAL PROPERTY RIGHTS</h3>
                <p>This Agreement and use of the App does not transfer to you any intellectual property owned by the City of Milton, Georgia or third-parties, and all rights, titles, and interests in and to such property will remain (as between us and you) solely with the City of Milton, Georgia. All trademarks, service marks, graphics and logos used in connection with the App should be considered trademarks or registered trademarks of our licensors or other third-parties. Your use of our App grants you no right or license to reproduce or otherwise use any such trademarks.</p>
                <h3>WAIVER OF CLAIMS: LIMITATION OF LIABILITY</h3>
                <p>To the fullest extent permitted by applicable law, and with an exception only for their gross negligence and willful and wanton wrongful conduct, in no event will the City of Milton, Georgia or its affiliates, City Councilors, officers, directors, employees, agents, suppliers, and licensors, as well as all trip supervisors, (collectively the “Protected Parties”) be liable to you, minors under your care, or any other person you are capable of representing, for any damages or harm arising out of your use of the App.  In addition, to the fullest extent permitted by applicable law, the aggregate liability of the Protected Parties other than trip supervisors, to you, minors under your care, or any other person you are capable of representing, relating to your use of the App, will be limited to the amounts actually paid in cash by you to the City of Milton, Georgia for use of the App.  This paragraph is for the benefit of, and enforceable by, any third party listed above as a Protected Party.</p>
                <h3>INDEMNIFICATION</h3>
                <p>You agree to indemnify and hold the Protected Parties harmless from and against any liabilities, losses, damages and costs, including reasonable attorneys' fees, incurred in connection with or arising from any third-party allegations, claims, actions, disputes, or demands asserted against any of them arising out of your wrongful use of the App or any App-related misconduct on your part.  This paragraph is for the benefit of, and enforceable by, any third party listed above as a Protected Party.</p>
                <h3>SEVERABILITY</h3>
                <p>All rights and restrictions contained in this Agreement may be exercised and shall be applicable and binding only to the extent that they do not violate any applicable laws and are intended to be limited to the extent necessary so that they will not render this Agreement illegal, invalid or unenforceable. If any provision or portion of any provision of this Agreement shall be held to be illegal, invalid or unenforceable by a court of competent jurisdiction, it is the intention of the parties that such portion shall be remade to make it legal, or if that is not possible, the remaining provisions or portions thereof shall constitute their agreement with respect to the subject matter hereof, and all such remaining provisions or portions thereof shall remain in full force and effect.</p>
                <h3>DISPUTE RESOLUTION</h3>
                <p>The formation, interpretation, and performance of this Agreement and any disputes arising out of it shall be governed by the substantive and procedural laws of Georgia, United States without regard to its rules on conflicts or choice of law and, to the extent applicable, the laws of United States. The exclusive jurisdiction and venue for actions related to the subject matter hereof shall be the courts serving the City of Milton, Georgia, and you hereby submit to the personal jurisdiction of such courts.</p>
                <h3>CHANGES AND AMENDMENTS</h3>
                <p>We reserve the right to modify this Agreement or its policies relating to the App at any time, effective upon posting of an updated version of this Agreement in the App. When we do, we will revise the updated date at the bottom of this page. Continued use of the App after any such changes shall constitute your consent to such changes.</p>
                <h3>ACCEPTANCE OF THESE TERMS</h3>
                <p>You acknowledge that you have read this Agreement and agree to all its terms and conditions. By using the App you agree to be bound by this Agreement. If you do not agree to abide by the terms of this Agreement, you are not authorized to use or access the App.</p>
              
                <p><small>This document was last updated on July 15, 2020.</small></p>
            </div>
        </div>
    </div>
</main>
